altgraph==0.17.4
macholib==1.16.3
modulegraph==0.19.6
packaging==24.0
pipdeptree==2.22.0
platformdirs==4.2.2
py2app==0.28.8
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyoxidizer==0.24.0
setuptools==70.0.0
typing_extensions==4.12.1
